{% extends "PolytechProjetCoBundle::layout.html.twig" %}


{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-errors">
        {{ flashMessage }}
    </div>
{% endfor %}

<h2>Paiement par virement</h2>

<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Informations</h3>
      <div class="box-tools pull-right">
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <p>La commande sera valider seulement après réception du virement</p>
        <p>Pour payer par virement, veuillez entrer les informations suivante :</p>
    </div>
</div>


{% endblock %}